extends layout

block content
  .row
    .col-md-3
    .col-md-6
      .panel.panel-default
        .panel-body
          form
            strong Hashtags Together.
            p Helping you find 
              u(data-toggle='tooltip',data-placement='right',title='Hashtags that show up together.') associated hashtags
              .
            .input-group.input-group-lg
              span.input-group-addon #
              input(placeholder='Enter a hashtag').form-control
  .row
    .col-md-3
    .col-md-6
          #hashtags
          #loading.text-center.hidden
            h1.glyphicon.glyphicon-repeat.glyphicon-refresh-animate

  script#report-template(type='text/x-handlebars-template')
    ul.list-group
      {{#each attributes.hashtags}}
      li.list-group-item
        a(href='{{hashtag}}') {{hashtag}}
        span.badge {{count}}
      {{/each}}

  script(src="/javascripts/index.js")
  script(src="/javascripts/hashtag.js")

  script
    $(function(){
      TwitterApiGarden.init();
      $("[data-toggle*='tooltip']").tooltip();
    })
