extends layout

block content
  .row
    .col-md-3
    .col-md-6
      .panel.panel-default
        .panel-body
          form
            h1 Hashtags Together.
            p Helping you find associated hashtags
              .
            .input-group.input-group-lg
              span.input-group-addon #
              input(placeholder='Enter a hashtag').form-control
      .panel.panel-default
        .panel-body      
          #hashtags
          #loading.text-center.hidden
            img(src='/images/loading.gif')
      .text-right
        h6
          a(href='http://www.kahneraja.com',target='_blank') kahneraja.com
    .col-md-3
      #trends


  script#report-template(type='text/x-handlebars-template')
    {{#each attributes.hashtags}}  
    h2 {{@index}}. 
      a(href='{{hashtag}}') \#{{hashtag}}
    {{/each}}

  script#trend-template(type='text/x-handlebars-template')
    a(href='{{name}}') \#{{name}}

  script(src="/javascripts/index.js")
  script(src="/javascripts/hashtag.js")
  script(src="/javascripts/trend.js")

  script
    $(function(){
      TwitterApiGarden.init();
    })
