doctype 5
html
  head
    title="Hashtags Together by Kahne Raja"
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootswatch.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src= "/bower_components/jquery/dist/jquery.min.js")
    script(src= "/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src= "/bower_components/underscore/underscore.js")
    script(src= "/bower_components/backbone/backbone.js")
    script(src= "/bower_components/handlebars/handlebars.min.js")
  body
    .container
      block content